*{margin:0;padding: 0;box-sizing: border-box;}

body{background-color: black;color: white}

nav{position: absolute;right: 100px;top: 200px;	text-align: center;	}
nav::before{content: '';display: inline-block;}
nav ul{	display: inline-block;}
nav ul a{text-transform: none;}
nav ul li{display: block;line-height: 2;font-size: .8rem;color: black;cursor: pointer;letter-spacing: 2px;}

.middle{transform: translateY(-50%);width: %;text-align: cener;}
.btn{width: 30px;height: 30px;background: #f1f1f1;box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;overflow: hidden;position: relative;text-align: center; }
.btn i{font-size: 10px;transition: 0.2s linear;}
.btn:hover i{transform: scale(1.1);color: #f1f1f1;}
.btn::before{content: "";position: absolute;width: 120%;height: 120%;background: #3498db;transform: rotate(45deg);left: -110%;top: 90%;}
.btn:hover::before{animation: aaa 0.7s 1;top: -7%;left: -7%;}
@keyframes aaa {
  0%{left: -100%;top: 80%;}
  50%{left: 10%;top: -30%;}
  100%{top: -10%;left: -10%;}
} 


header{ position: fixed; padding: 10px 40px 10px 40px; top: 0;width: 100%;z-index: 2;color: white;font-weight: bold;}

.menu {position: relative; width: 25px;height: 18px;transform: rotate(0deg);transition: .5s ease-in-out;
    cursor: pointer;margin-top: 7px;}
.menu span {display: block;position: absolute;height: 2px;width: 100%;background: white;opacity: 1;
	transform: rotate(0deg);transition: .25s ease-in-out;}
.menu span:nth-child(1) {top: 0px;transform-origin: left center;}
.menu span:nth-child(2) {top: 6px;transform-origin: left center;}
.menu span:nth-child(3) {top: 12px;transform-origin: left center;width: 60%;right: 0 !important;}
.menu:hover span:nth-child(3) {width: 100%;}

main{position: absolute; top: 0;right: 0; left: 0; bottom: 0;transition: .2s ease; display: none;}

@media screen and (orientation:portrait) {
	nav.active + main{transform:translateX(-15%) scale(0.7);box-shadow: 0 0 30px 5px rgba(38,38,38,0.3);}
}

@media screen and (orientation:landscape) {
	nav.active + main{transform:translateX(-15%) scale(0.7);box-shadow: 0 0 30px 5px rgba(38,38,38,0.3);overflow: scroll;}
}



.home {height:100vh;color: white;}
#particles-js{ height: 100%;background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(img/pic2.jpg);position: fixed;width: 100%}

.home .content{position: absolute;top: 45%;left: 10%;width: 33%}
.home .content p{font-weight:}
.home .content span{font-size: 1.6em}

.home .scoll{position: absolute; width: 50px; height: 75px;margin-top: 20%}
.home .scoll span{display: block;width: 15px; height: 15px; border-bottom: 4px solid #fff; border-right: 4px solid #fff; transform: rotate(45deg);
margin: -10px 10px; animation: animate 2s infinite; font-weight: 1000;font-size: 1.7em}
.home .scoll span:nth-child(2){animation-delay: -0.2s;}
.home .scoll span:nth-child(3){animation-delay: -0.4s;}
@keyframes animate{
	0%{opacity: 0;transform: rotate(45deg) translate(-20px,-20px);}
	50%{opacity: 1;}
	100%{opacity: 0; transform: rotate(45deg) translate(20px,20px);}
}



.social .button{display: inline-block;height: 30px;width: 30px;float: left;margin: 0 5px;overflow: hidden;background: black;
  border-radius: 80px;cursor: pointer;box-shadow: 0px 10px 10px rgba(0,0,0,0.1);transition: all 0.3s ease-out;}
.social .button:hover{width: 130px;}
.social .button .icon{display: inline-block;height: 30px;width: 30px;text-align: center;
  border-radius: 80px;box-sizing: border-box;line-height: 30px;transition: all 0.3s ease-out;}


.social a:nth-child(1):hover .icon{background: #2867B2;}
.social a:nth-child(2):hover .icon{background: #4267B2;}
.social a:nth-child(3):hover .icon{background: #1DA1F2;}
.social a:nth-child(4):hover .icon{background: #C13584;}
.social a:nth-child(5):hover .icon{background: #211F1F;}

.social .button .icon i{font-size: 15px;line-height: 30px;transition: all 0.3s ease-out;color: #fff}
.social .button:hover .icon i{color: #fff;}
.social .button span{font-size: 16px;font-weight: 500;line-height: 30px;margin-left: 5px;transition: all 0.3s ease-out;}

.social a:nth-child(1) span{color: #2867B2;}
.social a:nth-child(2) span{color: #4267B2;}
.social a:nth-child(3) span{color: #1DA1F2;}
.social a:nth-child(4) span{color: #C13584;}
.social a:nth-child(5) span{color: #211F1F;}

.about{height: %;background: black;position: relative;}
.about h3{padding: 70px 0px 40px 0px;text-align: center;}
.inner_about{align-items: center;justify-content: center;display: flex;}
.inner_sec{width: 85%; height: 70vh; background-image: url(img/aboutPic.JPG);background-repeat: no-repeat; background-size: 630px;}
.about_im{}
.about_cont{position: absolute; right: 0; width: 55%;background: #ffff;height: 50%;margin: 65px 0px;padding: 50px 30px;}

.experinces{height: 200vh;background-color: darkgray;position: absolute;width: 100%; }
.title{text-align: center;padding: 30px 0px;}
.education{position: absolute;left: 15%; width: 80%;}
.education div{height: 20vh; width: 70%; margin-bottom: 0px; display: flex;}
.education div div{display: block;}
.education .inst{margin-bottom: 50px}
.education .inst .cont i{margin-right: 10px}
.education .inst .cont a{}

.education .sub-title{width: 35%;}
.education .cont{width:;}



.career{height:100vh ;background-color: skyblue;position: absolute;width: 100%; top: 350%}
.car .inst .sub-title{width:25% }
.car .inst .cont{width: 65%}
.car{position: absolute;left: 25%;}

.car div{display: flex;margin-bottom: 30px}
.car div div{display: block;} 

.car .inst .cont i{margin-right: 10px}

.projects{text-align: center;padding-top: 50px; position: absolute;width: 100%;top: 450%;background: }
.project{height: 100vh;display: flex;padding: 100px 0;justify-content: center;}
.project .left{position: absolute; height: 60vh; width: 70%;}

.project .left div{margin: 3% 3%;}
.project .left img{filter: grayscale(100%);transition: 1s}
.project .left img:hover{filter: grayscale(0%);}

.left .proj1{position: absolute;float: left; width:45%;height:25vh;}
.left .proj2{float: right; width: 45%;height: 25vh;}

.left .proj3{position: absolute; width: 45%;height:25vh;}
.left .proj4{position: absolute; right: 0; width: 45%;height:25vh;}

/*
.projects .right{position: absolute;right: 0; height: 60vh; width: 50%; border: 1px solid red;background: gray}
.projects .right div{margin: 25px 20px}

.right .proj1{position: absolute;float: left; width: 45%;height:25vh; background: blue;}
.right .proj2{float: right;width: 45%;height:25vh; background-color: darkred;}

.right .proj3{position: absolute; width: 45%;height:25vh; background: blue;}
.right .proj4{position: absolute; right: 0;width: 45%;height:25vh; background-color: darkred;}  */

.contacts{position: absolute;height: 100vh; width: 100%;top: 550%;text-align: center;padding: 50px 100px;color: #fff; background: black}
.cont_content{width: 100%;height: 70%;display: flex;}
.cont_content .cont_left{width: 35%;height: 100%;margin: 0px 5%;padding: 50px;}
.cont_content .cont_right{width: 50%; height: 100%;padding: 50px;font-size: 30px; color:#333; font-weight: 500; }

.cont_left .addr .icon{width: 40px; height: 40px; background: #ffff; color: black; border-radius: 50%; font-size: 20px;margin-left: 43%; }
.cont_left .addr .icon i{padding-top: 10px}

.cont_right .inputBox{position: relative;width: 100%;margin-top: 10px;}
.cont_right .inputBox input, .cont_right .inputBox textarea{width: 100%; padding: 5px 0;font-size: 16px; margin: 10px 0;border: none; border-bottom: 2px solid #333; outline:none; resize: none;
background: transparent;color: #fff}
.cont_right .inputBox span{position: absolute; left: 0; padding: 5px 0; font-size: 16px; margin: 10px 0;pointer-events: none; transition: 0.5s; color: #666;}
.cont_right .inputBox input:focus ~ span, .cont_right .inputBox input:valid ~ span, .cont_right .inputBox textarea:focus ~ span, 
.cont_right .inputBox textarea:valid ~ span{color: #e91e63;font-size: 12px; transform: translateY(-20px); }
.cont_right .inputBox input[type="submit"]{width: 100px; background: #00bcd4;color: #fff;cursor: pointer; padding: 10px;font-size: 18px}

